.elementbox{

    width:70%;
    height: 100vh;
    border:2px solid black;
    position: relative;
}
.aboutbox{
    width:100%;
    height: 30px;
    border: 1px solid black;
}
.coursebox{
    width:100%;
    height: 30px;
    border: 1px solid black;
}
.interestbox{
    width:100%;
    height: 30px;
    border: 1px solid black;
}
table{
    border: 2px solid black;
    width: 50%;
    border-collapse: collapse;
    position: center;
}
td{
    border:2px solid black;
    width: auto;
    height:auto;  
}
tr{
    height: auto;
    width: auto;
    border: 2px solid black;
}
.petbox{
    width:100%;
    height: 30px;
    border: 1px solid black;
}